NODE_ENV=development
PORT=50051
MONGO_URI=mongodb://localhost:27017/tatcon

JWT_SECRET=your_jwt_secret_key
JWT_EXPIRE=30d

GOOGLE_CLIENT_ID=your_google_client_id
FACEBOOK_APP_ID=your_facebook_app_id
FACEBOOK_APP_SECRET=your_facebook_app_secret
VK_CLIENT_ID=your_vk_client_id
VK_CLIENT_SECRET=your_vk_client_secret 